# Server Port
PORT=8080

# Firebase Admin Service Account Credentials (needed for webhook Firestore updates)
FIREBASE_PROJECT_ID=counterflow-kiosk
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@counterflow-kiosk.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\"
